@import 'style_themes.scss';

.Authorization {
    height: 300px;
    width: 400px;
    background-color: #3a3a3a;
    border: 2px solid #838585;
    border-radius: 8px;
    color: #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Authorization input {
    height: 30px;
    width: 250px;
    padding: 0px;
    border-radius: 8px;
}

.Authorization button {
    height: 30px;
    width: 250px;
    position: revert;
    background-color: #72b762;
    border: none;
    margin-top: 10px;
}