@import 'style_themes.scss';

.main__content {
    position: absolute;
    inset: 0.5vw;
    border: 2px solid #838585;
    border-radius: 8px;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


.main__desk-elements {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.1vw;
  margin: auto;
  height: 34px;
  width: 50px;
  background-color: $background_style;
  border: $border_styles;
  border-radius: 8px;
  z-index: 10;
  // display: none;
  cursor: pointer;
}

.main__modal-windovs {
  height: 100%;
  width: 100%;
  background-color: #00000099;
  position: absolute;
  z-index: 10;

}

.main__modal-windovs_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    background-color: $background_style;
    border: $border_styles;
    border-radius: 10px;
    padding: 2vw;
}

.main__modal-windovs_content button {
  height: 20px;
  width: 20px;
  padding: 1px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: #00ced100;
  position: absolute;
  top: 5px;
  right: 7px;
}
.main__modal-windovs_content button img {
  height: 14px;
    width: 14px;
}

