@import 'style_themes.scss';

.main__navigation-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.2vw;
    margin: auto;
    height: 70px;
    width: 500px;
    background-color: $background_style;
    border: $border_styles;
    border-radius: 8px;
    z-index: 5;
    // display: none;
}