.StyleThemes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.main__content {
  position: absolute;
  inset: 0.5vw;
  border: 2px solid #838585;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__desk-elements {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.1vw;
  margin: auto;
  height: 34px;
  width: 50px;
  background-color: #3a3a3a;
  border: 2px solid #838585;
  border-radius: 8px;
  z-index: 10;
  cursor: pointer;
}

.main__modal-windovs {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 10;
}

.main__modal-windovs_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  background-color: #3a3a3a;
  border: 2px solid #838585;
  border-radius: 10px;
  padding: 2vw;
}

.main__modal-windovs_content button {
  height: 20px;
  width: 20px;
  padding: 1px;
  border-radius: 5px;
  border: 2px solid red;
  background-color: rgba(0, 206, 209, 0);
  position: absolute;
  top: 5px;
  right: 7px;
}

.main__modal-windovs_content button img {
  height: 14px;
  width: 14px;
}

.StyleThemes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.account__section {
  position: fixed;
  top: 0.2vw;
  left: 0.2vw;
  height: 100px;
  width: 100px;
  background-color: #3a3a3a;
  border: 2px solid #838585;
  border-radius: 8px;
  z-index: 5;
}

.account__section-button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.account__section-button img {
  width: 90%;
  border-radius: 5px;
}

.account__section-button figcaption {
  position: inherit;
  top: -2px;
  left: 0px;
  width: 100%;
  text-align: center;
  color: #c9c9c9;
  font-weight: 900;
}

.StyleThemes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.main__navigation-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.2vw;
  margin: auto;
  height: 70px;
  width: 500px;
  background-color: #3a3a3a;
  border: 2px solid #838585;
  border-radius: 8px;
  z-index: 5;
}

.StyleThemes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.InformationWindow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: aqua;
  z-index: 20;
}

.StyleThemes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.Authorization {
  height: 300px;
  width: 400px;
  background-color: #3a3a3a;
  border: 2px solid #838585;
  border-radius: 8px;
  color: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Authorization input {
  height: 30px;
  width: 250px;
  padding: 0px;
  border-radius: 8px;
}

.Authorization button {
  height: 30px;
  width: 250px;
  position: revert;
  background-color: #72b762;
  border: none;
  margin-top: 10px;
}

.StyleThemes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.ProfileSettings {
  height: auto;
  width: auto;
  color: #c9c9c9;
}

.topic_selection {
  padding: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10px 1fr 25px;
  grid-template-rows: auto;
}

.topic_selection span {
  grid-row: 1;
  grid-column: 1/3;
}

.minimalism_dark_label {
  grid-row: 2;
  grid-column: 2;
}

.minimalism_dark_checkbox {
  grid-row: 2;
  grid-column: 3;
  text-align: end;
}

.minimalism_light_label {
  grid-row: 3;
  grid-column: 2;
}

.minimalism_light_checkbox {
  grid-row: 3;
  grid-column: 3;
}

html {
  background-color: #3a3a3a;
}

.App {
  margin: 0;
}

/*# sourceMappingURL=App.css.map */
